<div class="container p-10">
  <div class="main-section w-full max-h-[40vh] mb-10 flex">
    <div class="h-52 flex items-center justify-center w-3/12">
      <img class="h-full w-[100%] object-fill" [src]="data.coverImageUrl" alt="">
    </div>
    <div class="details w-9/12  pl-6 h-full">
      <div class="main-heading flex gap-2 items-center">
        <span class="text-2xl">{{data.title}}</span>
        <app-listed-chip></app-listed-chip>
      </div>
      <div class="details mt-4">
        <mat-divider></mat-divider>
        <div class="description gap-1 flex min-h-7 w-[60%]">
          <div class="w-32 flex items-center"> <span class="font-bold ">category</span> </div> <mat-divider
            vertical="true">

          </mat-divider>
          <div class="flex items-center gap-2"><span>{{data.category.name}}</span> <app-listed-chip></app-listed-chip>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="description gap-1 flex min-h-7   w-[60%]">
          <div class="w-32 flex items-center"> <span class="font-bold ">contact number</span> </div> <mat-divider
            vertical="true"></mat-divider>
          <div class="flex items-center"><span>{{data.contactNumber}}</span></div>
        </div>
        <mat-divider></mat-divider>
        <div class="description gap-1 flex    ">
          <div class="w-32 flex items-center"> <span class="font-bold ">description</span> </div> <mat-divider
            vertical="true"></mat-divider>
            <div class="w-[80%] text-center flex pt-3 items-center hover:bg-gray-100 hover:cursor-pointer">
              <p class="w-[60%] truncate">{{data.description}}</p> <span class="text-blue-500 text-xs underline">show more</span>
            </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  
  <mat-divider></mat-divider>

  <div class="courses p-4">
    <span class="mat-headline-5  underline">Courses</span>

    <mat-accordion class="mt-4">
      @for (course of data.courses; track $index) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{course.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{course.type}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          {{course.description}}
        </mat-expansion-panel>
      }
    </mat-accordion>    
  </div>

  <div class="amenities p-4">
    <span class="mat-headline-5 underline mb-5">Amenities</span>
    <div class="amenities flex flex-wrap gap-5">
      @for (amenity of data.amenities; track $index) {
        <div class="amenity-container mat-elevation-z1 flex border gap-2 p-2 h-12 min-w-36">
          <img [src]="amenity.imageUrl" alt="">
          <span class="text-base">{{amenity.name}}</span>
        </div>
      }
    </div>
  </div>
</div>