<div class="container p-10">
  <div class="main-section w-full h-[40vh] flex">
<mat-card class="p-3">
  <div class="coverimage w-[20vw] h-full  flex items-center">
    <img [src]="data.coverImageUrl" alt="">
  </div>
</mat-card>
    <div class="details pl-6 flex-grow h-full">

      <div class="main-heading flex gap-2 items-center">
        <span class="text-2xl">{{data.title}}</span>
        <app-listed-chip></app-listed-chip>
      </div>
      <div class="details mt-4">
        <mat-divider></mat-divider>
        <div class="description gap-1 flex  w-[60%]">
          <span class="w-32 font-bold ">category</span> <mat-divider vertical="true"></mat-divider> <p>{{data.category.name}}</p> <app-listed-chip></app-listed-chip>
        </div>
        <mat-divider></mat-divider>
        <div class="description gap-1 flex  w-[60%]">
          <span class="w-32 font-bold ">contact number</span> <mat-divider vertical="true"></mat-divider> <p>{{data.contactNumber}}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="description gap-1 flex  ">
          <span class="w-32 font-bold">description</span> <mat-divider vertical="true"></mat-divider> <p  class="w-[60%]">{{data.description}}</p>
        </div>
        <mat-divider></mat-divider>

      </div>

      

    </div>
  </div>
</div>