<div class="container p-10">
  <div class="main-section w-full h-[40vh] flex">
<mat-card class="p-3">
  <div class="coverimage w-[20vw] h-full  flex items-center">
    <img [src]="data.coverImageUrl" alt="">
  </div>
</mat-card>
    <div class="details pl-6 flex-grow h-full">

      <div class="main-heading flex gap-2 items-center">
        <span class="text-2xl">{{data.title}}</span>
        <app-listed-chip></app-listed-chip>
      </div>

      <mat-divider></mat-divider>
      <div class="description gap-1 flex  w-[60%]">
        <span class="w-32">category</span> <mat-divider vertical="true"></mat-divider> <p>{{data.category.name}}</p>
      </div>

      <mat-divider></mat-divider>
      <div class="description gap-1 flex  w-[60%]">
        <span class="w-32">description</span> <mat-divider vertical="true"></mat-divider> <p>{{data.description}}</p>
      </div>
      <mat-divider></mat-divider>
      

    </div>
  </div>
</div>