<div class="px-64 pb-10">
  <h1 class="mat-headline-4">General details</h1>
  <div class=" mb-2 flex justify-end ">
    <button color="primary"  mat-raised-button>Edit <mat-icon>edit</mat-icon></button>
  </div>

  <div class="wrapper">
    
  <form action="" class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Email 1</mat-label>
     <input [value]="details.email_1" type="text" matInput>
    </mat-form-field>
    

    <mat-form-field appearance="outline">
      <mat-label>Email 2</mat-label>
     <input [value]="details.email_2" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNo 1</mat-label>
     <input [value]="details.phoneNo_1" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNo 2</mat-label>
     <input [value]="details.phoneNo_2" type="text" matInput>
    </mat-form-field>
  </form>


  </div>


</div>