<div class="px-64 pb-10">
  <h1 class="mat-headline-4">General details</h1>
  <div class=" mb-2 flex justify-end ">
    @if(!editMode) {
      <button color="primary" (click)="enableEditMode()"  mat-raised-button>Edit <mat-icon>edit</mat-icon></button>
    }
  </div>

  <div class="wrapper">
    
  <form [formGroup]="detailsForm" class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Email 1</mat-label>
     <input formControlName="email_1" type="text" matInput>
    </mat-form-field>
    

    <mat-form-field appearance="outline">
      <mat-label>Email 2</mat-label>
     <input formControlName="email_2" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNo 1</mat-label>
     <input formControlName="phoneNo_1" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNo 2</mat-label>
     <input formControlName="phoneNo_2" type="text" matInput>
    </mat-form-field>
  </form>

  <div class=" mb-2 flex justify-start ">
    @if(editMode) {
      <button color="primary" (click)="saveDetails()"  mat-raised-button>Save<mat-icon>save</mat-icon></button>
    }
  </div>


  </div>


</div>