<div class="wrapper grid place-items-center py-10">
  <mat-stepper orientation="vertical" class="w-[60%]"  [linear]="true" #stepper >
    <mat-step label="Enter details">
      <div class="form-wrapper w-full grid place-items-center">
        <app-details-form (submitDetailsEventEmitter)="onDetailsSubmit()" [formData]="formData"></app-details-form>
      </div>
    </mat-step>
    <mat-step  label="Fill out your address">
      <div class="form-wrapper w-full pl-48 flex  flex-col ">
        <label for="coverImage" class="mb-1">Category image:</label>
        <input
          (change)="onCoverImageSelected($event)"
          id="coverImage"
          type="file"
        />

        <label for="galleryImages" class="mb-1">Category image:</label>
        <input
          (change)="onGalleryImagesSelected($event)"
          id="galleryImages"
          type="file"
          multiple
        />

        <label for="brochure" class="mb-1">Category image:</label>
        <input
          (change)="onBrochureSelected($event)"
          id="brochure"
          type="file"
          accept=".pdf"
        />

        <button (click)="onSubmit()" mat-raised-button class="mt-4" color="primary" type="submit">
          Upload medias
        </button>
      
        <button mat-stroked-button class="mt-4" type="button">
          Cancel
        </button>
      </div>
    </mat-step>
  </mat-stepper>

</div>
